.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

frontend/mode_modules
server/node_modules
/.vscode

*/dist


infra/.terraform*
infra/plan

